.cart{
    text-align: left !important;
    padding:1em;
}

.cart__nested{
    display: flex;
    
}

.cartItems{
    width: 70%;
    border-right:1px solid #e7e8e9;
}

.cart h1{
    font-size: 1.8em;
}

.cart h1 span{
    font-weight: 300;
}

.cartSummary{
    width: 30%;
    padding: 1em 1.2em;
}

.purple{
    color:#cb2c90;
}

.btn-checkout{
    color:white;
    background-color: rgb(0, 101, 255);
    text-decoration: none;
    border: none;
    width: 80%;
    padding: 0.8em 1em;
    text-align: center;
    margin: 1em 0em;
}

.btn-checkout:hover{
    background-color:rgb(1, 90, 224) ;
}

.btn-checkout:disabled{
    background-color: rgb(113, 113, 129);
}

.btn-checkout:disabled:hover{
    cursor: not-allowed;
}