.cart{
    text-align: left !important;
    padding:1em;
}

.cart__nested{
    display: flex;
    
}

.cartItems{
    width: 70%;
    border-right:1px solid #e7e8e9;
}

.cart h1{
    font-size: 1.8em;
}

.cart h1 span{
    font-weight: 300;
}

.cartSummary{
    width: 40%;
}

.purple{
    color:#cb2c90;
}

.btn-checkout{
    color:white;
    background-color: rgb(0, 101, 255);
    text-decoration: none;
    border: none;
}

.btn-checkout:hover{
    background-color:rgb(1, 90, 224) ;
}