/* .home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home > div{
    width: 100%;
    max-width: 1360px;
    text-align: center;
    margin-top: 3em;

} */
.home > div{
    text-align: center;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-scroll{
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.outerScroll{
    position: relative;
}

.outerScroll .container-scroll{
    position: absolute;
    left: 10px;
    justify-content: flex-start;
}

h2{
    font-weight: 500;
}

/* Generic Classes */

.btn{
    border: 1.5px solid black;
    background-color: white;
    padding:0.3em 1em;
    border-radius: 20px;
    font-weight: 600;
    display: inline-block;
    margin-top: 1em;
}

.btn:hover{
    cursor: pointer;
    background-color: #eee;
}

.more{
    text-decoration: underline;
    position: absolute;
    right: 10px;
    top:4px;
    cursor: pointer;
}