.nav{
    background-color:black;
    color:"white";
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.4em;
    position: sticky;
    top:0px;
    z-index: 3;
}

.nav .a{
    display: flex;
}

.nav a{
    text-decoration: none;
    color:white;
}