

/* Navigation Start*/

.navigation  {
    display: flex;
    width: 100vw;
    color: white;
    background: rgb(4,30,66);
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 0.4rem 0 0.2rem;

}
/*Nav part 1*/
.navigation .nav1{
    display: flex;
    align-items: center;
    

}

.navigation .nav1 .website-name{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 12px;
}
.navigation .nav1 img{
    width: 1.5rem;
}
/*Nav part 1 Over */


/*Nav part 2 */
.nav2{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}
.nav2 .search-bar{
    width: 30vw;
    height: 2.4rem;
    border: none;
    padding-left: 10px;
    font-size: 0.7rem;
    font-family: sans-serif;
    font-weight: 500;
}
.nav2 #search-btn{
    height: 2.4rem;
    width: 2.5rem;
    padding: 0.4rem;
    border-radius: 0 50% 50% 0;
    background-color: rgb(255,194,32);
}

/*Nav part 2 Over */

/*Nav part 3*/
.navigation .nav3{
    display: flex;
    align-items: center;
    font-weight: 600;
    
    }
    .navigation .nav3 *{
        margin-left: 0.5rem;
    }
    
    /*Nav part 3 Over */

.navigation .nav3 a div:hover{
    color: red;
}

#noOfProducts{
    text-align: center;
    position: relative;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: -1rem;
    background: rgb(252,237,112);
    margin-left:0 ;
    font-size: 12px;
    border-radius: 16px;
    color: black;
}


/* HAm*/
.menu-items{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    min-height: 100vh;
    width: 250px;
    /* border: 2px solid red; */

}

.menu-items li{
    margin-top: 0.8rem;
    font-size: 1rem;
    color: black;
    display: flex;
    grid-gap: 15px;
    padding-left: 20px;
    

}

.menu-items li:hover{
    font-weight: 650;
}


.menu-items *{
    color:black;
}

.site-name{
    font-size: 0.9rem !important;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 1rem;
}
.hide{
    /* visibility: hidden; */
    display: none;
}
.show{
    /* visibility: visible; */
    display: block;
}
.top-ham{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(4,30,66);
    height: 4rem;
}
.top-ham img{
    width: 2rem !important;
}
