.products h2{
    padding-bottom: 1.4em;
}
.outerContainer{
    overflow-x: hidden;
    position: relative;
}

.innerContainer{
    display: flex;
    overflow-x: visible;
    position: relative;
    gap:2em;
    width: max-content;
    margin-left: 2em;
}

.nav-btn{
    background-color: black;
    color:white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2em;
    position: absolute;
    z-index: 2;
}

#prev{
    top:50%;
    left: 10px;
}

#nxt{
    top: 50%;
    right: 10px;
}

.disabled{
    background-color: gray;
    display: none;
}
