*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.carousel {
  width: 100%;
  height: 66vh;
  overflow: hidden;
  position: relative;
  /* box-sizing: border-box; */
    
}

.carousel .carousel__list {
  width: 200%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  /* position: relative; */
}

.carousel .carousel__item {
 width: 100vw;
  height: 100%;
  float: left;
}
.carousel__item img {
    width: 100vw;
    height: 66vh;
    border: 1px solid;
}
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 32%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(127, 31, 146);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
  color: aliceblue;
}

@media screen and (min-width: 360px) {
    #prev {
      /* background-color: lightgreen; */
      top: 9em;
    }
    
  }

  @media screen and (min-width: 360px) {
    #next {
      /* background-color: lightgreen; */
      top: 9em;
    }
    
  }
/* .........................................sliders heading................................................... */

  .carousel__item .headingp1 {
    color: #000;
    position: absolute;
    top: 8%;
    left: 4%;
    width: 340px;
  
}

  .largetitle{
    font-size: 1.6rem;
    line-height: 1.3em;
    font-weight: 400;
    margin-bottom: 30px;
    text-transform: none;
    color: rgb(4, 30, 66);
    display: inline;
  }
  .bigtitle {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 30px;
    color: rgb(124 126 128);
}

.smalltitle {
    border: 1px solid;
    border-radius: 50px;
    flex: none;
    padding: 5px 10px;
    color: rgb(4, 30, 66);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.smalltitle:hover{
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
}


@media screen and (max-width: 674px) {
  .carousel__item img   {
    height: 50vh;
    background-color: brown;
    
  }
}

/* .............................................................................. */
  @media screen and (max-width: 906px) {
    .carousel__item img   {
    
      height: 44vh;
   
      
    }
  }
  /* .............................................................................. */
  @media screen and (max-width: 516px) {
    .carousel__item img   {
      height: 184px;
      width: 122vw;
      
    }
  }


  @media screen and (max-width: 360px) {
    .carousel__item img {
      height: 180px;
      width: 119vw;  
    }
  }
  
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .carousel__item .headingp1  {
    
      width: 30vw;
      
    }
}
@media only screen and (min-width: 1024px) and (max-height: 1366px){
.bigtitle {
    width: 27vw;
    font-size: 22px;
    font-weight: 100;
}}




@media screen and (max-width: 924px) {
  .carousel__item .headingp1  {
    width: 235px;
    
  }
}

@media screen and (max-width: 743px) {
  .carousel__item .headingp1  {
    width: 200px;
    
  }
}

@media screen and (max-width: 580px) {
  .carousel__item .headingp1   {
    width: 130px;
    
    
  }
}
@media screen and (max-width: 1102px) {
  .carousel__item .headingp1  {
    width: 249px;
    
  }
}
/* ............................slidercontent downside.................................................. */
.sliderContent{
  background-color: white;
  height: 125px;
  width: auto;
  display: none;
  margin-top: -35px;
  border: 1px solid ;
 overflow: hidden;
 position: relative;
}

@media screen and (max-width: 800px) {
  .carousel__item .headingp1   {
    display: none;
    
    
  }
}
/* .................................................................... */
@media screen and (max-width: 800px) {
  .sliderContent   {
    display: block;
    background-color: white;
  height: 125px;
  text-align: center;
  /* width: auto;
  display: none; */
  margin-top: -128px;
    
    
  }
}

@media screen and (max-width: 516px){
.sliderContent {
    display: block;
    margin-top: -8.7rem;
    text-align: center;
    height: 150px;
  
}
}
@media screen and (max-width: 360px){
  .sliderContent {
      display: block;
      margin-top: -9.1rem;
      text-align: center;
      height: 172px;
  }}

  




@media screen and (device-width: 360px) and (device-height: 640px){
  .sliderContent{
    margin-top: -10em;
  }

}
@media screen and (device-width: 360px) and (device-height: 640px){
.sliderContent {
    margin-top: -15.2em;
}
}

@media screen and (device-width: 411px) and (device-height: 731px){
  .sliderContent {
      margin-top: -18.7em;
  }
  }
  
@media screen and (device-width: 411px) and (device-height: 823px){
  .sliderContent {
      margin-top: -22.5em;
      height: 165px;
      
  }
  }

  @media screen and (device-width: 320px) and (device-height: 568px){
    .sliderContent {
        margin-top: -12.5em;
    }
    }

  @media screen and (device-width: 375px) and (device-height: 667px){
    .sliderContent {
        margin-top: -16.1em;
    }
    }
 
  @media screen and (device-width: 414px) and (device-height: 736px){
    .sliderContent {
        margin-top: -19.1em;
    }
    }
 
  @media only screen and (device-width : 375px) and (device-height : 812px) 
    {
      .sliderContent {
        margin-top: -22.1em;
    }
    }
 
  @media only screen and (device-width : 768px) and (device-height : 1024px) 
  {
    .sliderContent {
      margin-top: -14.1em;
  }
  }
  
  @media only screen and (device-width : 1024px) and (device-height : 1366px) 
  {
    .carousel__item img{
      
      height: 30vh;
  }
  }

  @media only screen and (device-width : 540px) and (device-height : 720px) 
  {
    .sliderContent {
      margin-top: -10.1em;
      height: auto;
  }
  }
 
  @media only screen and (device-width : 280px) and (device-height : 653px) 
  {
    .sliderContent {
      margin-top: -16.1em;
      height: auto;
  }
  }
 